html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}
:root{
    --background-color: #45dbfc;
    --text-grey: #636363;
}
.container{
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 30px 30px 10px 30px;
}



.coluna{
    flex-basis: 49%;
}

.hidden{
    display: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.onDark input{
    width: 40px;
    height: 50px;
}
/* -----------------------------------------------------------------------------------------------------------------------------
Header */
header{
    background-color: var(--background-color);
    padding: 20px 20px 0 20px;
}
header .teste-img {
    display: flex;
    justify-content: center;
}
header .container{
    background-color: white;
    position: relative;
}
header .container label {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 52px;
        height: 30px;
        background-color: #04133d;
        border-radius: 20px;
        padding: 5px 5px;
        box-sizing: border-box;
}
header .container label span {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #d4e9ff;
    border-radius: 100%;
    transition: all ease .3s;
}
header .linha{
    align-items: center;
}
header .coluna img{
    max-width: 100%;
    border-radius: 100%;
}
header .coluna h1{
    font-size: 1.5rem;
    padding-top: 20px;
    text-align: center;
}
header .coluna p{
    font-size: 1rem;
    color: var(--text-grey);
    text-align: center;
}
header .coluna ul{
    margin: 16px 0 0;
}
header .coluna ul li{
    margin: 0 0 12px;
}
header .coluna ul li a{
    font-size: 1rem;
    color: black;
}

/* ----------------------------------------------------------------------------------------------------------------------------- 
Main */
main{
    background-color: var(--background-color);
/*    background-image: linear-gradient(
        180deg
        , #45dbfc, #04133d); */
    padding: 0px 20px 20px 20px;
}
main .container{
    background-color: white;
}
main .coluna section{
    border: 1px solid #d4e9ff;
    margin: 0 0 20px;
    padding: 20px;
    min-height: 138px;
}
/* main .teste-altura{
    height: 244px;
} */
main .coluna section h2{
    font-size: 1.3rem;
    margin: 0 0 15px;
}
main .coluna section p{
    font-size: 0.9rem;
    color: var(--text-grey);
    line-height: 1.5;
}
main .coluna section ul li{
    margin: 0 0 12px;
}
main .coluna section ul li h3{
    font-size: 1.1rem;
}
main .coluna section ul li strong{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 5px 0 10px;
    display: inline-block;
}

/* -----------------------------------------------------------------------------------------------------------------------------
 Footer */
footer{
    background-color: #04133d;
}
footer nav ul li a{
    color: white;
}
footer nav .info-contato li{
    margin: 0 0 15px;
}
footer nav .redes-sociais{
    border-top: 1px solid rgb(255 255 255 / 20%);
    padding: 25px 0 0px;
    margin: 35px 0 0;
}
footer nav .redes-sociais li{
    margin: 0 25px;
    text-align: center;
}
footer nav .redes-sociais li a img{
    width: 80px;
}

/* -----------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
Media */
@media only screen and (min-width: 768px){
    .linha{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    footer nav .redes-sociais{
        display: flex;
        justify-content: center;
    }

    header{
        padding-top: 30px;
    }

    header .coluna img{
        max-width: 250px;
        border-radius: 100%;
    }
    header .coluna p{
        display: block;
        text-align: initial;
    }
    header .coluna h1{
        padding-top: 0;
        display: block;
        text-align: initial;
    }
    header .coluna-esquerda{
        flex-basis: 30%;
    }
    header .coluna-direita{
        text-align: left;
    }
}
@media only screen and (min-width: 991px){

    header .coluna-direita{
        flex-basis: 70%;
    }
}

/* -----------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
checkbox */

.onDark:checked ~ .dark-mode header{
    animation-name: teste;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.onDark:checked ~ .dark-mode main{
    animation-name: teste;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.onDark:checked ~ .dark-mode footer{
    animation-name: teste2;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.onDark:checked ~ .dark-mode header .container, .onDark:checked ~ .dark-mode main .container{
    animation-name: darkening, white-text;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.onDark:checked ~ .dark-mode header p, .onDark:checked ~ .dark-mode header a, .onDark:checked ~ .dark-mode main p {
    animation-name: white-text;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.onDark:checked ~.dark-mode .container label{ 
    animation-name: teste-label;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.onDark:checked ~.dark-mode .container label span{
        transform: translateX(21px);
        transition: all ease .3s;
        animation-name: teste-span;
        animation-duration: 3s;
        animation-fill-mode: forwards;
}
/* -----------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
keyframes */
@keyframes teste{
    0%{
       background-color: var(--background-color);
    }
    50%{
        background-color: #04133d;
    }
    100%{
        background-color: black;
    }
}
@keyframes teste2{
    from{
        background-color: #04133d;
    }
    to{
        background-color: black;
    }
}
@keyframes darkening{
    from{
        background-color: white;
    }
    to{
        background-color: rgb(68, 66, 66);
    }
}
@keyframes white-text{
    from{
        color: black;
    }
    to{
        color: white;
    }
}

@keyframes teste-span{
    from{
        background-color:#d4e9ff;
    }
    to{
        background-color: black;
    }
}
@keyframes teste-label{
    from{
        background-color: #04133d;
    }
    to{
        background-color: white;
    }
}
/*
    main{
        padding-bottom: 35px;
    }
    .container{
        padding: 30px;
    }

@media only screen and (min-width: 1440px){
    section.teste-tamanho {
        height: 280px;
        line-height: 33px;
    }
}
@media only screen and (min-width: 1440px){
    section.teste-exclusivo {
        height: 379px;
    }
    main .teste-tamanho {
        height: 281px;
        line-height: 34px;
    }
} 
.dark-mode {
background-image: linear-gradient( 
180deg
 , #45dbfc, #04133d 20%);
    background-size: 400% 400%;
}
}
*/
